* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*-----------------------------------------------------------Top-Menu--------------------------------------------------------------------------*/

body {
    font-family: 'Poppins', sans-serif;
}

.header {
    background: url(images/discussion.jpeg) no-repeat;
    background-size: cover;
    height: 100vh;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: rgba(57, 63, 34, 0.568);
}

p {
    color: #555;
}

.ss {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-6 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-6 img {
    max-width: 100%;
    padding: 50px 0;
}

.col-6 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn {
    display: inline-block;
    background: gainsboro;
    color: rgb(255, 255, 255);
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover {
    background: #555;
}

.header row {
    margin-top: 70px 0;
}


/*----------------------------------------------------------features---------------------------------------------------------------------------*/

.carousel {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    margin-bottom: 80px;
}

.carousel img {
    opacity: 80%;
}

.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after {
    content: '';
    background: #555;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

h4 {
    color: #555;
    font-weight: normal;
    text-align: center;
}

h1 {
    color: #555;
}


/*---------------------------------------------------------------------------------footer----------------------------------------------------*/

.footer-main {
    padding: 70px 0px;
    background: #201f1f;
}

.footer-main hr {
    border-top: 1px solid rgba(255, 255, 255, .6);
}

.footer-link h4 {
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    position: relative;
    font-weight: 700;
}

.footer-link ul {
    display: inline-block;
    list-style-type: none;
}

.footer-link ul li {
    display: inline-block;
    margin-right: 20px;
}

.footer-link ul li a {
    color: #ffffff;
    text-align: left;
    display: block;
    line-height: 32px;
    position: relative;
    padding-left: 15px;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}

.footer-link ul li a::before {
    font-family: FontAwesome;
    content: "\f105";
    position: absolute;
    left: 5px;
    line-height: 35px;
    font-size: 16px;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}

.footer-link ul li a:hover::before {
    left: 5px;
}

.footer-link ul li a:hover {
    color: #9db3aa;
    border-color: #a4a583;
    padding-left: 20px;
}