{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <!-- Site Icon -->
    <link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/x-icon">

    <title>Discussion Forum | HomePage</title>
</head>

<body>
    <!-- Top Menu Section -->
    <div class="header">
        <div class="ss">
            <div class="navbar" style="background-color: rgb(245, 245, 245);">
                <div class="logo">
                    <span>
                        <img src="{% static 'images/logo.png' %}" width="30" height="30" alt="">
                        <span>MSU Discussion Forum</span>
                    </span>
                </div>
            </div>

            <!-- Main Hero Section -->
            <div class="row">
                <div class="col-6">
                    <h1>Learning Online! <br>And Discussing Online!</h1>
                    <p>Improving healthy and safety assurance for you. Carry out your discussions here with your colleagues.</p>

                    <div class="col-sm-4"></div>
                    <div class="">
                        <a class="btn small-login" href="{% url 'login' %}">Explore Now</a>
                    </div>
                </div>
                <div class="col-6">
                    <img src="{% static 'images/discussion.jpeg' %}" alt="Discussion Image">
                </div>
            </div>
        </div>
    </div>



    <!-- Back to Top Button -->
    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

    <!-- JavaScript Files -->
    <script src="{% static 'hassets/js/bootstrap.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'hbootstrap-4.0.0/bootstrap-4.0.0/js/src/carousel.js' %}"></script>

    <script>
        $('.carousel').carousel()
    </script>
</body>

</html>
