{% extends "components/base.html" %}
{% block title %}{{ title }}{% endblock %} 
{% load static %}
{% block content %}
    <div class="wrapper">  
        <!-- Content Wrapper -->
        <div class="container mt-4">
            <section class="content">
                <div class="row">
                    <!-- Profile -->
                    {% include "components/profile.html" %}

                    <!-- Ask Question Form -->
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header p-2">
                                <ul class="nav nav-pills">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#askquestion" data-bs-toggle="tab">Profile Edits</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="askquestion">
                                        <form class="form-horizontal" method="POST" action="" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            {{ form.as_p }}
                                            <div class="form-group row mt-3">
                                                <div class="offset-sm-2 col-sm-10">
                                                    <button type="submit" class="btn btn-success">Submit</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div> <!-- /.card-body -->
                        </div> <!-- /.card -->
                    </div> <!-- /.col -->
                </div> <!-- /.row -->
            </section>
        </div> <!-- /.container -->
    </div>
{% endblock %}
