  {% load static %}
  <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="{% static 'images/logo.png' %}" alt="Logo" width="30" height="30" class="rounded-circle border">
                StudyCircle
            </a>
            {% comment %} <div class="ml-auto">
                <form class="form-inline d-inline-block">
                    <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div> {% endcomment %}
        </div>
    </nav>